@import url('https://fonts.googleapis.com/css?family=Ronoto|Lato|Julius+Sans+One|Monoton|Press+Start+2P|Righteous|Saira+Semi+Condensed&display=swap');

/* NEON ANIMATION*/
@keyframes rdn0n {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }

  to {
    text-shadow: 0 0 5px #000, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes blgld {
  from {
    box-shadow: 0 0 5px #000, 0 0 15px #000, 0 0 30px #fdbf00, 0 0 45px #fdbf00, 0 0 60px #fdbf00;
  }

  to {
    box-shadow: 0 0 1px #000, 0 0 5px #000, 0 0 10px #fdbf00, 0 0 15px #fdbf00, 0 0 19px #fdbf00;
  }
}

@keyframes whtn0n {
  45% {
    opacity: 0.5;
  }

  55% {
    border-color: #fff;
    opacity: 1;
  }
}

/*MAIN STYLES*/

root {
--shadowColor: rgba(194,55,97, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*INDEX SECTION*/
.mptcnt {
  /*main page tile container*/
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 99.99vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  scroll-snap-align: start;
}

#mp1 {
  height: 99.99vh;
}

#lg3cm {
  display: flex;
  position: absolute;
  top: 15vh;
  width: 11vmax;
  height: 11vmax;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: radial-gradient(#000 0% 65%, #fff 66% 66.5%, #000 69% 100%);
  border-radius: 99%;
  transform: rotate(-19deg);
  color: #fff;
  font-size: 3.55vmax;
  font-weight: 600;
  font-family: 'Julius Sans One', Helvetica, sans-serif;
  user-select: none;
  animation: rdn0n 1.5s ease-in-out infinite alternate, blgld 3s ease-in-out infinite alternate;
}

#lg3cm:hover {
  color: #000;
}

.selmen {
  display: flex;
  position: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 99vw;
  height: 20vmin;
  margin-bottom: 3vmax;
  padding-top: 3vmax;
}

#selmen1 {
  margin-top: 11vw;
}

.menit {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 18vmin;
  height: 18vmin;
  opacity: 0.5;
  margin-left: 1.5vmax;
  margin-left: 1.5vmax;
  background-color: #808080;
  border: 3px solid #a9a9a9;
  color: #fff;
  font-size: 1.35vmax;
  font-weight: 400;
  font-family: Monoton;
  user-select: none;
  box-sizing: border-box;
  z-index: 3000;
}

.menit:after {
  display: flex;
  position: absolute;
  top: -3px;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  width: 18vmin;
  height: 18vmin;
  opacity: 0;
  background-color: #808080;
  border: 3px solid #e3a300;
  color: #fdbf00;
  font-size: 1.35vmax;
  font-weight: 400;
  font-family: Monoton;
  user-select: none;
  box-sizing: border-box;
  z-index: 3001;
}

#company:after {
  content: "COMPANY";
}

#g2025:after {
  content: "G2025";
}

.ak:hover, .menit:hover:after {
  opacity: 1;
}

/*SECOND TIER PAGES*/
.stpcnt {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 99.99vh;
  overflow-y: scroll;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-align: start;
}

.stpcnt::-webkit-scrollbar {
  display: none;
}

.stsubcnt {
  display: inline-flex;
  position: relative;
  top: 0;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 99.99vh;
  box-sizing: border-box;
}

.top10 {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.top5 {
  margin-top: -10vh;
}

#stpcnt1 {
  position: absolute;
  top: 0;
  left: 100vw;
  margin-left: 0;
  background-color: #a9a9a9
    /*darkgreen*/
  ;
  justify-content: flex-start;
}

#stpcnt2 {
  position: absolute;
  top: 0;
  left: 200vw;
  margin-left: 0;
  background-color: #e3a300;
  align-items: center;
  justify-content: flex-start;
}

.stpr {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin-top: 5vh;
}

.r1st {
  margin-top: 15vh;
}

.rlst {
  margin-bottom: 10vh;
}

.stpitb {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-content: space-around;
  text-align: justify;
  width: 33vw;
  height: 40vh;
  margin: 1vh 0 1vh 0;
  border: 3px solid black;
  line-height: 1.55;
  box-shadow: inset 0 -20px 0 0 rgba(var(--shadowColor), 1);
}

.stpitb::-webkit-scrollbar {
  display: none;
}

.stits {
  display: inline-flex;
  position: relative;
  width: 35vh;
  height: 30vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 3vh 0 3vh;
  border: 3px solid #000;
  /*background: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);*/
  background-image: url(https://ecommpay.com/wp-content/uploads/2018/01/ecp-aboutus-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*background: linear-gradient(103.86932779968333deg, rgba(37, 46, 58, 1) -0.9853723404255321%, rgba(71, 84, 99, 1) 44.74800531914893%);*/
  filter: grayscale(40%);
  color: #fff;
  font-size: 2vmax;
  font-family: Georgia, serif;
  user-select: none;
}

.ft1 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.33rem;
  direction: ltr;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px 80px 15px 80px;
  word-break: normal;
  overflow-y: auto;
}

/*MDLS*/
.mdlcntex:not(target) {
  display: none;
}

.mdlcntex:target {
  display: flex;
}

.mdlcntex {
  display: none;
  position: absolute;
  top: 0;
  width: 99.99vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.mdlcntin {
  display: flex;
  position: absolute;
  width: 60vw;
  height: 70vh;
  background-color: #808080;
  opacity: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 2.5vmax;
  color: #fff;
  z-index: 3003;
}

.mdlcntex:after {
  display: flex;
  position: absolute;
  content: "";
  width: 99.99vw;
  min-height: 99.99vh;
  background-color: #000;
  opacity: 0.85;
  z-index: 3002;
}

#mdl1 {
  left: 199.99vw;
}

/* TOP MENU */
.tpmen {
  display: flex;
  position: sticky;
  top: 0;
  left: 5vmax;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #808080;
  color: #000;
  font-size: 1.15vmax;
  font-weight: 400;
  font-family: Saira Semi Condensed;
  text-transform: capitalize;
  border: 3px solid #000;
  z-index: 5000;
}

.tpmencont {
  display: none;
  position: absolute;
  left: 50px;
  min-width: 400px;
  height: 50px;
  background-color: #808080;
  border: 3px solid #000;
  box-sizing: content-box;
  overflow: hidden;
}

.tpmen:hover {
  text-transform: lowercase;
}

.tpmen:hover .tpmencont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tpmencont a, .tpmencont p {
  display: flex;
  height: 100%;
  width: 80px;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1vmax;
  font-family: Saira Semi Condensed;
  font-weight: 200;
  user-select: none;
}

.tpmencont p:hover {
  background-color: #000/*#757575*/;
  color: #fff;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1000px) {
  html {
    display: none;
  }
  .mptcnt {
    background-color: #fff;
  }
  .selmen {
    flex-direction: column;
    min-height: 40vh;
    margin: 0 0 0 0;
  }
  .menit {
    margin: 1vmax 1vmax 1vmax 1vmax;
  }
}
